<footer class="footer footer-transparent d-print-none" style="z-index: 1030; box-shadow: 0 .6rem 1rem rgba(0,0,0,.15);">
  <div class="container-xl">
    <div class="row text-center align-items-center flex-row-reverse">
      <div class="col-12 col-lg-auto ms-lg-auto">
        <ul class="list-inline list-inline-dots mb-0">
          <li class="list-inline-item">
            <a href="{% url 'taxonomy:report-issue' %}" class="text-muted small">
              <i class="ti ti-bug me-1"></i>Report Issue
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/joanjir/taxonSampler" target="_blank" class="text-muted small">
              <i class="ti ti-brand-github me-1"></i>GitHub
            </a>
          </li>
          <li class="list-inline-item text-muted small">
            TaxonSampler · CoL/ChecklistBank + NCBI
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-auto mt-3 mt-lg-0">
        <div class="text-muted small">
          © {% now "Y" %} TaxonSampler.
        </div>
      </div>
    </div>
  </div>
</footer>
