{% extends "taxonomy/layout/base.html" %}

{% block body %}
<div class="page">
  <!-- Sidebar Navigation -->
  {% include "taxonomy/partials/sidebar.html" %}
  
  <!-- Header -->
{% if not is_error %}
    {% include "taxonomy/partials/head.html" %}
{% endif %}

  <div class="page-wrapper">
    <div class="page-body">
      <div class="container-xl">
        {% block content %}{% endblock %}
      </div>
    </div>

    {% include "taxonomy/partials/footer.html" %}
  </div>
</div>
{% endblock %}
