{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>
      {% block title %}
        TaxonSampler
      {% endblock %}
    </title>
    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="{% static 'taxonomy/img/favicon.svg' %}">
    <link rel="alternate icon" type="image/png" sizes="96x96" href="{% static 'taxonomy/img/favicon-96x96.png' %}">
    <link rel="alternate icon" type="image/x-icon" href="{% static 'taxonomy/img/favicon.ico' %}">
    <!-- Tabler (Bootstrap-based) -->
    <link rel="stylesheet" href="{% static 'taxonomy/vendor/tabler/css/tabler.min.css' %}" />
    <link rel="stylesheet" href="{% static 'taxonomy/vendor/tabler/icons/tabler-icons.min.css' %}" />
    <!-- FontAwesome CDN -->
    <link rel="stylesheet" href="{% static 'taxonomy/vendor/fontawesome/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'taxonomy/css/tree.css' %}" />
    <!-- Select2 CSS -->
    <link href="{% static 'taxonomy/vendor/select2/css/select2.min.css' %}" rel="stylesheet" />
    <!-- jQuery (necesario para Select2 4.x) -->
    <script src="{% static 'taxonomy/vendor/jquery/jquery-3.7.1.min.js' %}"></script>
    <!-- Select2 JS -->
    <script src="{% static 'taxonomy/vendor/select2/js/select2.min.js' %}"></script>
    <link href="{% static 'taxonomy/vendor/select2/themes/select2-bootstrap-5-theme.min.css' %}" rel="stylesheet" />

    {% block extra_css %}

    {% endblock %}
  </head>

  <body class="d-flex flex-column">
    {% block body %}

    {% endblock %}

    <!-- Tabler JS (includes Bootstrap) -->
    <script src="{% static 'taxonomy/vendor/tabler/js/tabler.min.js' %}"></script>
    <!-- SweetAlert2 -->
    <script src="{% static 'taxonomy/vendor/sweetalert2/sweetalert2.min.js' %}"></script>
    <script>
      // Tabler bundles Bootstrap but exposes it as tabler.bootstrap, not window.bootstrap
      if (typeof bootstrap === 'undefined' && window.tabler && window.tabler.bootstrap) {
        window.bootstrap = window.tabler.bootstrap;
      }
      // Initialize all Bootstrap tooltips
      document.querySelectorAll('[data-bs-toggle="tooltip"]').forEach(function (el) {
        new bootstrap.Tooltip(el);
      });
    </script>

    {% block extra_js %}

    {% endblock %}
  </body>
</html>
